.contenedor h2{
    color: midnightblue;
}

p span{
    color: red;
}

p a{
    color: yellow;
}

.contenedor2 h3{
    color: aqua;
}

c {
    text-decoration: underline;
    color: red;
}

y{
    text-decoration: underline;
    color: yellow;
}

table tr{
    color: blue;
}

.contenedor3 p{
    color: darkgoldenrod;
}

.contenedor3 t{
    color: seagreen;
}