header{
    border: solid 2px;
    width: 100%;
    height: 200px;
}

img{
    width: 60px;
    background-position: center left;
    border: solid 4px;
}

.left h3, p{
    text-decoration: underline;
    color: blue;
}

aside {
    border: solid 3px;
}

section{
    border: solid 3px;
    padding: 10px;
}